h1 {
    color: rgb(128, 0, 73);
}

/* aqui selecionamos os elementos p */
p {
    color: rgb(153, 0, 255);
}

strong {
    color: rgb(174, 0, 255);
}

#titulo {
    color: rgb(128, 0, 81);
    text-align: center;
}

p#descricao {
    color: rgb(255, 0, 195);
}

.promocao {
    text-align: center;
    background-color: rgb(238, 144, 174);
}

h1.promocao {
    color: yellow
}

.nova {
    color: white;
}

/* todo p que tenha a classe final-pagina e cujo id
seja rodape */
p.final-pagina#rodape {
    background-color: lightgray;
    text-align: center;
}

/* todo curso tem essa cor de fundo */
.curso {
    background-color: aliceblue;
}

/* veja a cor de fundo repetida para que possamos
especificar uma regra não aplicável aos demais cursos
*/
.novo-curso {
    background-color: aliceblue;
    color: rgb(30, 0, 255);
}

/* esse é um seletor descentente, representado pelo espaço
em branco. pegamos todos os p's que sejam filhos diretos ou
indiretos de um article. */
article p {
    padding: 12px;
    background-color: lightgray;
}